metrics_hse_exams.run.xml
junk.txt
.DS_Store
*.xdv
*.amc
*.bbl
*.flb
*.blg
*.bcf
*.log
*.out
*.run.xml
*-cache.yaml
*.synctex.gz
*.aux
materials/2017/kr_03_ip/kr_03i.aux
*.fdb_latexmk
*.fls
materials/2017/kr_03_ip/kr_03i.log
_minted-metrics_hse_exams/
metrics_hse_exams.pdf
materials/2018/kr_03_ip/kr_03_ip.synctex(busy)
