metrics_hse_exams.amc
metrics_hse_exams.flb
metrics_hse_exams.bbl
metrics_hse_exams.run.xml
junk.txt
.DS_Store
*.xdv
materials/2017/kr_03_ip/kr_03i.aux
*.fdb_latexmk
*.fls
materials/2017/kr_03_ip/kr_03i.log
